/*
RESET CSS
*/

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
padding: 0; margin: 0;
}
html,body{
display: block;
height: 100%; width: 100%;

}
ul,li,a{
margin: 0; padding: 0;
list-style: none;
text-decoration: none;
}

/* Main */

/* INDEX */

html, body {
  background-color: #343A40;

}
#Calque_1  {

  width: 70px;
  padding-right: 15px ;
  vertical-align: middle;

}
.bg-dark {
  background-color: #FADF12 !important;
}
.navbar-dark .navbar-brand{
  color: #343A40;
  font-family: 'Alfa Slab One',serif;
}
.navbar-dark .navbar-nav .nav-link{
  color: #343A40;
}
.container {
  color: white;

}
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.jumbotron {
  background-image: url(./photo-1513185158878-8d8c2a2a3da3.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 300px ;
  padding-bottom: 300px ;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  text-align: center;
  text-shadow: 2px 2px 2px #343A40 ;
}
.jumbotron h1 {
  font-family: 'Alfa Slab One', serif;
  padding-left: 15px;
  text-shadow: 4px 4px #e01926 ;


}

/* MENU */

#headmenu {
  margin-bottom: 80px;
}

#menulist {
  color: black ;
}

.plat {
font-size: 18px;
text-transform: uppercase;
}

h2 {
font-size: 24px;
padding-top: 15px;

}

/* IMAGES */

#tof {
vertical-align: inherit;
}
.page-link:hover {
  color: #ffff;
  background-color: #343A40;
  border-color: #FADF12;
}
.page-link {
  color: #FADF12;
  background-color: #343A40;
  border: 0;
  border-color: #FADF12;
}
.page-item.active .page-link {
  color: #343A40;
  background-color: #FADF12;
  border-color: #FADF12;
}
.page-item.disabled .page-link {
  background-color: #343A40;
  border-color: #FADF12;
  color: #4e5760;
}


/* RESTAURANTS */

#bx {
padding-left: -20px;
}

.map-responsive {
  padding-left: 0px;
}
p {
  padding-left: 1em;
}

.btn {
  margin-left: 20px;
  background-color: #FADF12 ;
  color: #343A40 ;
  border: 0;
}

.btn:hover {
  background-color: white;
  color: #FADF12;
}

.infos {
  padding-top: 26%;
  padding-bottom: 20px;
}
